---
layout: default
title: Blog
---

<section class="hero">

    <div class="hero-content">

        <span class="hero-tag">
            🌿 SustainaTrip Blog
        </span>

        <h1>
            Descubra destinos que inspiram,
            preservam e conectam pessoas.
        </h1>

        <p>

            Histórias, cultura, ecoturismo,
            gastronomia e experiências
            para explorar Florianópolis e
            outros destinos de forma sustentável.

        </p>

        <a href="#artigos" class="btn-primary">
            Explorar artigos
        </a>

    </div>

</section>

<section id="artigos" class="latest-posts">

    <h2>Últimos artigos</h2>

    <div class="posts-grid">

    {% for post in site.posts %}

        <article class="card">

            {% if post.image %}
                <a href="{{ post.url | relative_url }}">
                    <img
                        src="{{ post.image | relative_url }}"
                        alt="{{ post.title }}">
                </a>
            {% endif %}

            <div class="card-content">

         {% if post.categories.size > 0 %}
            <span class="badge">
                {{ post.categories.first }}
            </span>
        {% endif %}

                <h3>

                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>

                </h3>

                <small>

                    {{ post.date | date: "%d de %B de %Y" }}

                </small>

                <p>

                    {{ post.excerpt
                       | strip_html
                       | truncate: 170 }}

                </p>

                <a
                    href="{{ post.url | relative_url }}"
                    class="read-more">

                    Continuar lendo →

                </a>

            </div>

        </article>

    {% endfor %}

    </div>

</section>

<section class="categories">

    <h2>Categorias</h2>

    <div class="category-grid">

        <div class="category-card">
            🌊
            <h3>Praias</h3>
        </div>

        <div class="category-card">
            🌿
            <h3>Ecoturismo</h3>
        </div>

        <div class="category-card">
            🏛️
            <h3>Cultura</h3>
        </div>

        <div class="category-card">
            🍽️
            <h3>Gastronomia</h3>
        </div>

    </div>

</section>

<section class="newsletter">

    <h2>Acompanhe o blog</h2>

    <p>

        Novos artigos sobre turismo,
        natureza e experiências locais.

    </p>

</section>
