<header class="site-header">

  <!--  <div class="container">

        <a class="logo" href="{{ '/' | relative_url }}">

            <img src="{{ site.avatar | relative_url }}"
                 alt="{{ site.title }}">

        </a> -->

<a href="{{ '/' | relative_url }}" class="site-logo">

    <img
        src="{{ '/assets/images/logo-light.png' | relative_url }}"
        class="logo-light"
        alt="SustainaTrip">

    <img
        src="{{ '/assets/images/logo-dark.png' | relative_url }}"
        class="logo-dark"
        alt="SustainaTrip">

</a>

        <div class="site-brand">

            <h1>

                <a href="{{ '/' | relative_url }}">

                    {{ site.title }}

                </a>

            </h1>

            <p>{{ site.description }}</p>

        </div>

        <button class="menu-toggle"
                aria-label="Abrir menu">

            ☰

        </button>

        {% include navigation.html %}

        <!-- <button id="darkMode"
                class="dark-button"
                aria-label="Alternar tema">

            🌙

        </button> -->

    </div>

</header>