<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">

<title>
{% if page.title %}
{{ page.title }} | {{ site.title }}
{% else %}
{{ site.title }}
{% endif %}
</title>

{% include meta.html %}

{% seo %}

<link
  rel="preload"
  as="image"
  href="{{ '/assets/images/hero.webp' | relative_url }}"
  fetchpriority="high">

<link rel="icon"
      type="image/png"
      href="{{ '/assets/favicon.ico/favicon-96x96.png' | relative_url }}">

<link rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/lucide-static@latest/font/lucide.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<link rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}">

<link rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="{{ '/feed.xml' | relative_url }}">

<script defer
        src="{{ '/assets/js/main.js' | relative_url }}">
</script>