<header class="site-header" id="header">

    <div class="top-bar">

        ...

    </div>

    <div class="container">

        <a class="logo" href="{{ '/' | relative_url }}">

            <img
                src="{{ site.avatar | relative_url }}"
                alt="{{ site.title }}">

        </a>

        <div class="site-brand">

            <h1>

                <a href="{{ '/' | relative_url }}">

                    {{ site.title }}

                </a>

            </h1>

            <p>{{ site.description }}</p>

        </div>

        <button
            class="menu-toggle"
            id="menuBtn"
            aria-label="Abrir menu">

            <span></span>
            <span></span>
            <span></span>

        </button>

        {% include navigation.html %}

    </div>

</header>