<header class="site-header" id="header">

    <div class="top-bar">

        <div>
            <a href="#"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            <a href="#"><i class="fa-solid fa-location-dot"></i>Florianópolis</a>
        </div>

        <div>
            <a href="#">PT</a>
            |
            <a href="#">ES</a>
            |
            <a href="#">EN</a>
        </div>

    </div>

    <div class="main-header">

        <a class="logo" href="#">

            <img src="https://placehold.co/80x80/2E7D32/FFFFFF?text=S" alt="Logo">

            <div>
                <h2>SustainaTrip</h2>
                <span>Blog de Turismo</span>
            </div>

        </a>

        <button class="menu-btn" id="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav id="menu">

            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Artigos</a></li>
                <li><a href="#">Roteiros</a></li>
                <li><a href="#">Destinos</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>

        </nav>

    </div>

</header>