---
layout: default
---

<article class="post-page">
<nav class="breadcrumb">

    <a href="{{ '/' | relative_url }}">
        Início
    </a>

    {% if page.categories %}
        &nbsp;›&nbsp;

        <a href="{{ '/categorias/' | relative_url }}">
            {{ page.categories.first }}
        </a>
    {% endif %}

    &nbsp;›&nbsp;

    <span>{{ page.title }}</span>

</nav>

    {% if page.image %}
    <div class="post-cover">

        <img
            src="{{ page.image | relative_url }}"
            alt="{{ page.title }}">

    </div>
    {% endif %}

    <header class="post-header">

        {% if page.categories.size > 0 %}
        <span class="post-category">

            {{ page.categories.first }}

        </span>
        {% endif %}

        <h1>

            {{ page.title }}

        </h1>

        <div class="post-meta">

            <span>
                📅 {{ page.date | date: "%d/%m/%Y" }}
            </span>
{% assign words = content | number_of_words %}
{% assign reading_time = words | divided_by: 200 %}
{% if reading_time < 1 %}
    {% assign reading_time = 1 %}
{% endif %}

            {% if page.author %}
            <span>

                • ✍️ {{ page.author }}

            </span>
            {% endif %}

        </div>

    </header>

    <section class="post-content">

        {{ content }}

    </section>

    {% if page.tags.size > 0 %}
    <section class="post-tags">

        {% for tag in page.tags %}

            <span class="tag">

                #{{ tag }}

            </span>

        {% endfor %}

    </section>
<section class="related-posts">

<h2>Você também pode gostar</h2>

<div class="related-grid">

{% assign maxRelated = 3 %}
{% assign count = 0 %}

{% for post in site.posts %}

{% if post.url != page.url %}

{% if post.categories.first == page.categories.first %}

<div class="related-card">

<h3>

<a href="{{ post.url | relative_url }}">

{{ post.title }}

</a>

</h3>

<p>

{{ post.excerpt
| strip_html
| truncate:120 }}

</p>

</div>

{% assign count = count | plus:1 %}

{% endif %}

{% endif %}

{% if count >= maxRelated %}
{% break %}
{% endif %}

{% endfor %}

</div>

</section>
    {% endif %}

    <nav class="post-navigation">

        {% if page.previous %}

            <a
            class="prev-post"
            href="{{ page.previous.url | relative_url }}">

            ← {{ page.previous.title }}

            </a>

        {% endif %}

        {% if page.next %}

            <a
            class="next-post"
            href="{{ page.next.url | relative_url }}">

            {{ page.next.title }} →

            </a>

        {% endif %}

    </nav>

</article>
